<li class="nav-item">
    <a href="dashboard" id="dashboard" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="station" id="station" class="nav-link dpmenu">
        <i class="nav-icon fas fa-map-marked-alt"></i>
        <p>
            Station
        </p>
    </a>
</li>
<li class="nav-item">
    <a styel="cursor: pointer" class="nav-link dpmenu">
        <i class="nav-icon fas fa-sliders-h"></i>
        <p>
            Parameter
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="parameter" id="parameter" class="nav-link">
                <i class="nav-icon fas fa-sliders-h"></i>
                Parameter list
            </a>
        </li>
        <li class="nav-item">
            <a href="wqg" id="wqg" class="nav-link">
            <i class="fas fa-clipboard-list nav-icon"></i>
            <p>WQG</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item">
    <a style="cursor: pointer" class="nav-link dpmenu">
        <i class="nav-icon fas fa-database"></i>
        <p>
            WQI Monitoring
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="admindata" id="admindata" class="nav-link">
            <i class="fas fa-clipboard nav-icon"></i>
            <p>View Data</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="adminwqi" id="adminwqi" class="nav-link">
            <i class="fas fa-calculator nav-icon"></i>
            <p>WQI</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="personnel" class="nav-link dpmenu">
        <i class="nav-icon fas fa-user"></i>
        <p>Personnel</p>
    </a>
</li>